{% include 'parts/header.html.twig' %}
{% if details is not empty %}
    <div class="mt-4 card mb-3">
        <div class="card-header text-center bg-cyan">
            <span class="float-end bg-dark p-2 d-block fs-6 mt-1 rounded-3">Debt</span>
            <h3 class="card-title text-white">
                {{ details.debt }}
            </h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-6"> 
                <form id="update" class="form-horizontal" action="" method="post">
                <div class="card-body">
                        <input name="id" type="hidden" value="{{ details.id }}"/>
                    
                    <div class="card card-body mb-2 bg-dark"><div class="col fw-bold">
                            Name:
                            <span name="name" class="editable fw-normal">{{ details.debt }}</span>
                        </div>
                    </div>

                    <div class="card card-body mb-2 bg-dark">
                        <div class="col fw-bold">
                            Bank Reference:
                            <span name="reference" class="editable fw-normal">{{ details.reference }}</span>
                        </div>
                    </div>

                    <div class="card card-body mb-2 bg-dark">
                        <div class="col fw-bold">
                            Start Amount:
                            £<span name="start_amount" class="editablenum fw-normal">{{ details.start_amount|number_format(2, '.', ',') }}</span>
                        </div>
                    </div>

                    <div class="card card-body mb-2 bg-dark">
                        <div class="col fw-bold">
                            Remaining Amount:
                            £<span name="amount" class="editablenum fw-normal">{{ details.amount|number_format(2, '.', ',') }}</span>
                        </div>
                    </div>

                    <div class="card card-body mb-2 bg-dark">
                        <div class="col fw-bold">
                            Payment:
                            £<span name="payment" class="editable fw-normal">{{ details.payment|number_format(2, '.', ',') }}</span>
                        </div>
                    </div>

                    <div class="card card-body mb-2 bg-dark">
                        <div class="col fw-bold">
                            Details:<br>
                            <span name="details" class="editabletextarea fw-normal d-block px-4">{{ details.details|nl2br }}</span>
                        </div>
                    </div>

                    {% if admin == true %}
                    <div class="float-end me-2 my-2">
                        <button type="button" id="edit" class="btn btn-lg btn-primary align-bottom"><i class="bi bi-pencil-square me-2"></i>Edit</button>
                        <button type="button" id="cancel" class="btn btn-lg btn-danger">Cancel</button>
                        <a id="updatebtn" class="action_update btn btn-success btn-lg" data-type="debt" type="button">Update</a>
                    </div>

                    {% include 'modals/delete.html.twig' with {'type': 'debt', 'name': details.debt, 'id': details.id} %}
                    {% endif %}  
                </div>


                </form>
            </div>
            <div class="col-12 col-md-6"> 
                <div class="card-body">
                    <h4>Payment History</h4> 
                    <div id="result"></div>
                    <div class="row">
                        <table class="table-striped bg-dark " id="table"  data-toggle="table" {% if admin == true %} data-buttons="buttons" {% endif %}  data-show-button-text="true" data-show-columns="true" data-search="true" data-check-on-init="true" 
                        data-pagination="true">
                            <thead class="bg-primary ">
                                <tr>
                                    <th scope="col" data-field="id">ID</th>
                                    <th scope="col" data-field="counterparty">Counter Party</th>
                                    <th scope="col" data-field="date">Date/Time</th>
                                    <th scope="col" data-field="amount">Amount</th>
                                    {% if admin == true %}
                                    <th scope="col" data-field="delete">Delete</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                <tr data-id="{{ transaction.transactionId }}">
                                    <td>{{ transaction.transactionId }}</td>
                                    <td>{{ transaction.counterPartyName }}</td>
                                    <td>{{ transaction.created |date("jS F Y") }}<br>{{ transaction.created |date("g:ia") }}</td>
                                    <td >£{{ transaction.amount|number_format(2, '.', ',') }}</td>
                                    {% if admin == true %}
                                    <td class="text-center"><a class="action_delete" data-type="transaction" data-amount="{{ transaction.amount|number_format(2, '.', ',') }}" data-reference="{{ details.reference }}" data-id="{{ transaction.transactionId }}" type="button"><i class="text-danger bi bi-trash"></i>
                                    </a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>     
    </div>

{% include 'modals/transaction.html.twig' %}
{% else %}
{% include 'parts/unauthorized.html.twig' %}
{% endif %}

{% include 'parts/footer.html.twig' %}