{% include 'parts/header.html.twig' %}
{% if details is not empty %}
<div class="panel panel-info">
    
    <form class="form-horizontal" action="" method="post">
        <input name="id" type="hidden" value="{{ details.id }}"/>
        <div class='panel-heading'>
            <h3 class='panel-title'><span style='font-size: 20pt;'>Debt: {{ details.debt }}</span> &nbsp; 
            {% if admin == true %}
            <button type="button" data-id="{{ details.id }}" data-type="debt" class="pull-right btn btn-danger delete">Delete</button>
            <button style="vertical-align: bottom;" type="button" id="edit" class="btn btn-primary">Edit</button>&nbsp;
            <input id="submit" type="submit" value="Submit" name="submit" style="vertical-align: bottom;" class="btn btn-success"/> &nbsp; 
            <button type="button" id="cancel" style="vertical-align: bottom;" class="btn btn-danger">Cancel</button></h3>
            {% endif %}
        </div>
        <div class='panel-body'>
            <div class="col-12 col-md-6">
                <div class='well well-sm'><Strong>Name: </Strong><span name="name" class="editable">{{ details.debt }}</span></div>
                <div class='well well-sm'><Strong>Bank Reference: </Strong><span name="reference" class="editable">{{ details.reference }}</span></div>
                <div class='well well-sm'><Strong>Start Amount: </Strong>£<span name="start_amount" class="editablenum">{{ details.start_amount|number_format(2, '.', ',') }}</span></div>
                <div class='well well-sm'><Strong>Remaining Amount: </Strong>£<span name="amount" class="editablenum">{{ details.amount|number_format(2, '.', ',') }}</span></div>
                <div class='well well-sm'><Strong>Payment Amount: </Strong>£<span name="payment" class="editablenum">{{ details.payment|number_format(2, '.', ',') }}</span></div>
                <div class='well well-sm' style='height:280px;'><Strong>Details: </Strong><br/><span name="details" class="editabletextarea">{{ details.details|nl2br }}</span></div>
            </div>
            <div class='col-12 col-md-6 well well-sm'>
                <h4>Payment History</h4> 
                <table class='table table-bordered' id="transactions">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Counter Party</th>
                        <th>Date/Time</th>
                        <th>Amount</th>
                        <th></th>
                     </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr data-id="{{ transaction.transactionId }}">
                            <td>{{ transaction.transactionId }}</td>
                            <td>{{ transaction.counterPartyName }}</td>
                            <td>{{ transaction.created |date("jS F Y \\a\\t g:ia") }}</td>
                            <td >£{{ transaction.amount|number_format(2, '.', ',') }}</td>
                            <td style="text-align: center;"><a style="cursor: pointer; vertical-align: bottom;" class="delete" data-type="transaction" data-id="{{ transaction.transactionId }}" type="button">❌</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
{% else %}
{% include 'parts/unauthorized.html.twig' %}
{% endif %}

{% include 'parts/footer.html.twig' %}