{% include 'header.html.twig' %}
<div class="jumbotron">
    <div>
        <div class='panel panel-info'>
            <form class="form-inline" action="" method="post">
                <input name="id" type="hidden" value="{{ details.id }}"/>
                <div class='panel-heading'>
                    <img style="margin-right: 20px;" class="pull-left" src="https://cdn.discordapp.com/avatars/{{ userData.discord_id }}/{{ userData.avatar }}.jpg"/>
                    <h1>Welcome {{ userData.name }}</h1>
                        <button style="vertical-align: bottom;" type="button" id="edit" class="btn btn-primary">Edit</button>&nbsp;
                        <input id="submit" type="submit" value="Submit" name="submit" style="vertical-align: bottom;" class="btn btn-success"/> &nbsp;
                        <button type="button" id="cancel" style="vertical-align: bottom;" class="btn btn-danger">Cancel</button> &nbsp;
                </div>
                <div class='panel-body'>
                    <div class='col-12 col-md-12'>
                        <div class='well well-sm'><Strong>Name: </Strong><span name="name" class="editable">{{ userData.name }}</span></div>
                        <div class='well well-sm'><Strong>Discord ID: </Strong><span name="discord_id" >{{ userData.discord_id }}</span></div>
                        <div class='well well-sm'><Strong>Total Remaing Debt Amount: </Strong> £<span name="cost" >{{ details.total_cost }}</span></div>
                            {% if debts is not empty %}
                                {% for debt in debts %}
                                        <div class="col-6 col-md-4 col-lg-4 well well-sm" >
                                            <div class='panel-body'>
                                                <div><p style="text-decoration: underline;"><a href='debt.php?id={{ debt.id }}'>{{ debt.debt }}</a></p></div>
                                                <div><h4><Strong>Remaining Amount: £{{ debt.amount|number_format(2, '.', ',') }}</Strong></h4></div>
                                                <div><Strong>Starting Amount: </Strong>£{{ debt.start_amount|number_format(2, '.', ',') }}</div>
                                                <div><Strong>Expected Payment Amount: </Strong>£{{ debt.payment|number_format(2, '.', ',') }}</div>
                                                <br>
                                                <div><Strong>Last Payment: </Strong>£{{ debt.lastpaymentamount }}</div>
                                                <div><Strong>Last Payment Date: </Strong>{{ debt.lastpaymentdate |date("jS F Y")}}</div>
                                                <br>
                                                <a href='debt.php?id={{ debt.id }}' style="vertical-align: bottom;" type="button" id="edit" class="pull-right btn btn-primary">Details</a>&nbsp;
                                            </div>
                                        </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>
            </form>
        </div>
    </div>   
</div>
{% include 'footer.html.twig' %}