{% include 'parts/header.html.twig' %}
{% if details is not empty %}
<form id="update" class="form-horizontal" action="" method="post">
	<div class="mt-4 card mb-3">
        <div class="card-header text-center bg-cyan">
            <span class="float-start bg-dark p-2 d-block fs-6 mt-1 rounded-3">User</span>
			{% include 'parts/header_buttons.html.twig' with {'type': 'user', 'name': details.name, 'id': details.id} %}
            <h3 class="card-title text-white">
                {{ details.name }}
            </h3>
        </div>
		<div class="card-body col-12">
			<input name="id" type="hidden" value="{{ details.id }}"/>
					
			<div class="card card-body mb-2 bg-dark">
				<div class="col fw-bold">
					Name:
					<span name="name" class="editable fw-normal">{{ details.name }}</span>
				</div>
			</div>

			<div class="card card-body mb-2 bg-dark">
				<div class="col fw-bold">
					Discord ID:
					<span name="discord_id" class="editablenum fw-normal">{{ details.discord_id }}</span>
				</div>
			</div>

			<div class="card card-body mb-2 bg-dark">
				<div class="col fw-bold">
					Debts: 
					<select id='placeholder' multiple class='form-control' name="debts[]">
						{% for debt in alldebts %}
							<option value="{{ debt.id }}">{{ debt.debt }} (ID:{{ debt.id }})</option>
						{% endfor %}
					</select>
					{% if debts is not empty %}
						{% for debt in debts %}
						<div class="debt px-4">
							<div class="row" >
								<div class=" col-12 col-md-6" >
									<span class="item-name inline fw-normal" data-selected="true" data-id="{{ debt.id }}">{{ debt.debt }} </span>
								</div>
							</div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>

			<div class="card card-body mb-2 bg-dark">
				<div class="col fw-bold">
					Notes: 
					<span name="notes" class="editabletextarea fw-normal">{{ details.notes|nl2br }}</span>
				</div>
			</div>
								
			<div class="card card-body mb-2 bg-dark">
				<div class="col fw-bold">
					Total Remaing Debt Amount: 
					£<span name="cost" class="fw-normal">{{ details.total_cost|number_format(2, '.', ',') }}</span>
				</div>
			</div>
		</div>
	</div>
</form>
{% else %}
{% include 'parts/unauthorized.html.twig' %}
{% endif %}
{% include 'parts/footer.html.twig' %}