{% include 'parts/header.html.twig' %} 
<div class="mt-4 card mb-3">
  <div class="card-header text-center bg-cyan text-white">
    <h3 class='panel-title' style='font-size: 20pt;'>Debts</h3>
  </div>
  <div class="row">
    <div class="card-body col-12 col-md-6">
      <div id="debts-table" class="table-wrapper">
        <table class="table-striped table bg-dark" id="table" data-mobile-responsive="true" data-min-width="768" data-check-on-init="true">
          <thead class="bg-primary text-white">
            <tr>
              <th>Debt</th>
              <th>Users</th>
              <th>Total</th>
              <th>Remaining</th>
              <th>Paid This Month</th>
              <th>Fully Paid?</th>
              <th>Last Payment</th>
            </tr>
          </thead>
          <tbody> 
            {% for debt in debts %} 
            <tr>
              <td>
                <a href='/debt.php?id={{ debt.id }}'>{{ debt.debt }}</a>
              </td>
              <td>
                <ul class="list-unstyled m-0 mobile-list"> 
                  {% for user in debt.users %} 
                  <li class="mb-2">
                    <a href='/user.php?id={{ user.id }}'>{{ user.name}}</a>
                  </li> 
                  {% endfor %} 
                </ul>
              </td>
              <td>£{{ debt.start_amount|number_format(2, '.', ',') }}</td>
              <td>£{{ debt.amount|number_format(2, '.', ',') }}</td>
              <td>£{{ debt.actual_payment|number_format(2, '.', ',') }} / £{{ debt.payment|number_format(2, '.', ',') }}</td>
              <td>{% if debt.haspaid == 3 %} <span class='paidover'>In Excess</span> {% elseif debt.haspaid == 2 %} <span class='paidyes'>Yes</span> {% elseif debt.haspaid == 1 %} <span class='paidpartial'>Partial</span <spanclass='paidno'> {% else %}No </span> {% endif %}</td>
              <td>{{ debt.lastpaymentdate is empty ? "N/A" : "£" ~ debt.payment ~ " (" ~ debt.lastpaymentdate|date("jS F Y") ~ ")" }}</td>
            </tr> 
            {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mx-2 pb-4" id="users-total">
    <div class="col small">
      <span class="fw-bold">Expected Monthly Payment:</span> £{{ total.expected|number_format(2, '.', ',') }}<br>
      <span class="fw-bold">Actual Payment This Month:</span> 
      <span class='{{ total.paid >= total.expected ? 'paidyes' : 'paidno'}}'>£{{ total.paid|number_format(2, '.', ',') }}</span><br>
        {{ total.paid >= total.expected ? '' : '(Payment is below expected amount)'}}
    </div>
  </div>
</div>

<div class="mt-4 card mb-3">
  <div class="card-header text-center bg-cyan text-white">
    <h3 class='panel-title' style='font-size: 20pt;'>Users</h3>
  </div>
  <div class="row p-0 m-0"> 
    {% for user in users %} 
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="justify-content-between bg-dark p-4 my-2">
        <a href="/user.php?id={{ user.id }}">
          <h5>{{ user.name }}</h5>
        </a>
        <small>Discord ID: {{ user.discord_id }}</small>
      </div>
    </div> 
    {% endfor %} 
  </div>
</div>
{% include 'parts/footer.html.twig' %}